body {
    font-family: 'Marmelad', sans-serif;
}



.h1-top {
    margin-left: 5px;
    
}

h2 {
    font-size: 18px;
    font-weight: 500;
    
}

.logo {
    height: 140px;
    margin: 0 0 10px -10px;
    width: 140px;
    
}

li .icon-30 {
    display: block;
    height: 30px;
    margin-right: 10px;
    width: 30px;
}

.icon-vk {
    background-image: url(/img/vk2.png);
    
}

.icon-instagram {
    background-image: url(/img/inst2.png);
    
}

ul.social-links li {
    float: left;
    overflow: hidden;
    
}

.social-links {
    height: 30px;
    margin-top: 10px;
    padding: 0;
      
}

header .contacts {
    font-size: 16px;
    padding: 25px 0 0 30px;
    
}

.middle-menu ul li a {
    color: #9e515d;
    margin: 0;
    min-height: 40px;
    padding: 10px 0;   
    
}

.reasons {
    text-align: center;
    
}

.middle-menu {
    font-size: 15px;
    min-height: 40px;  
    
}

.foto-preview {
    height: 200px;
    width:220px;
    
}

.recent-content {
    border: 0.1em solid #b9b9b9;
    border-top: 0;
    height: 65px;
    line-height: 18px;
    padding: 1px 0 0 0;
    width: 220px;
    
}

.recent-content h2 {
    margin: 13px 0 0 0;
    text-align: center;
    
}

.preview {
    margin: 30px 0;
    padding: 0;
    
}

.recent-img img {
    width: 220px;
    
}

.recent-img {
    min-height: 270px;
    position: relative;
    
}

