

body {
    font-family: 'Marmelad', sans-serif;
}    

.container-wrapper {
    background-color: rgba(112, 112, 112, 0.1);
    max-width: 950px;

}

h2 {
    font-size: 18px;
    font-weight: 500;
    
}

h1 {
    margin: 0 0 20px;
    
}
/*header*/
.caption-top {
    display: block;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    margin: 20px 0 0 19px;
    text-align: center;
    
}

.logo {
    margin: 5px 10px 15px;
    
}

header .contacts {
    font-size: 16px;
    padding: 25px 0 0 30px;
    
}

.phone {
    color: black;
    
    
}
.phone-header {
    font-size: 18px;
}


.contacts-social-icon {
    text-align: center;
    width: 85%;
}

.contacts-social-icon li {  
    display: inline-block;
}

.social-icon {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    margin-right: 10px;
    width: 30px;
    
}

.icon-vk {
    background-position: 0 0;
    
}

.icon-instagram {
    background-position: -30px 0;
    
}


/*/header*/
/*nav*/
.middle-menu ul li a {
    color: #9e515d;
    margin: 0;
    min-height: 40px;
    padding: 10px 0;   
    
}

nav.middle-menu {
    background-color: #F1D3F7;
    font-size: 15px;
    margin: 0;
    min-height: 40px; 
    
 
}

.menu {
    padding: 0;
    
}

ul.nav li#dropdown-services:hover ul#submenu-services {
    display: block; 
   
}

#submenu-services li a {
    padding: 5px 0 0 15px;
    
}

.dropdown-submenu {
    margin: 0;
    
}
/*/nav*/

/*foto-menu*/

.preview {
    margin: 40px 0 0;
    
}

.foto-preview {
    max-height: 250px;
    max-width: 270px;
    border-radius: 7%;
    overflow: hidden;
    
}

.recent-content {
    min-height: 40px;
    line-height: 18px;
    padding: 1px 0 0 0;
    
}

.recent-img {
    margin-bottom: 30px;
    
}

.h2-menu {
    margin: 13px 0 0 0;
    text-align: center;
}

.phone:visited, .phone:hover, .h2-link:hover {
    color: #BA55B3;
    text-decoration: none;
    
}
/*/foto-menu*/



/*content*/

.content-reasons {
    padding: 10px 25px 40px;

}

.reasons {
    margin: 0 10px;
}

.h3-reasons {
    text-align: center;
    
}

.reasons li {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0; 
    
}

/*/content*/

/*footer*/
.footer-block {
    background-color: rgba(112, 112, 112, 0.2);
    border-top: 1px solid #9e515d;
    min-height: 50px;
    text-align: center;
    padding-top:10px;
    
}

.social-links-footer {
    padding: 0 50px;
}

.footer-capture {
    font-weight: 600;
}

.social-icon-footer {
    text-align: left; 
}
/*/footer*/




/*BYKET-NEVESTY*/
.content {
    padding:15px 30px 30px;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

/*/BYKET-NEVESTY*/


/*PORTFOLIO*/
.portfolio-preview {
   padding: 30px 0 10px; 
}


.custom-breadcrumb {
    background: none;
    margin: 20px 0 0 0;
}
/*/PORTFOLIO*/



/*@media*/
@media screen and (max-width: 768px) {

    .contacts-phone {
        text-align: center;
    }
    .contacts-social-icon {
        text-align: center;
        width: 100%;
    }
    .logo {
        height: 50px;
        margin: 5px;
        float: left;
        
    }
    .caption-top {
        font-size: 15px;
        margin: 10px 0 0;
    
    }
    .phone-header {
        font-size: 22px;
    }
    .h2-menu {
        text-align: left;
    }
    
    header .contacts {
    padding-top: 20px;
}


@media screen and (max-width: 1024px) and (min-width:768px) {
   
    .contacts-phone {
        float: left;
    }
    .contacts {
        overflow: hidden;
    }
    
}

/*/@media*/








