include _mixins

block vars
	- var phoneNumber01 = "+7 (812) 921-10-55";
	- var phoneNumber02 = "+7 (911) 732-10-53";
	- var phoneLink01 = "+78129211055";
	- var phoneLink02 = "+79117321053";

doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		block title
		block headLinks
			link(rel='icon', type='image/x-icon', href='/img/favicon.ico')
			link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
			link(href='https://fonts.googleapis.com/css?family=Marmelad&subset=latin,cyrillic', rel='stylesheet')
			link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100&subset=latin,cyrillic', rel='stylesheet')
		block headStyles
			link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
			link(rel='stylesheet', href='/css/style.css')
	body
		header.header.container-wrapper
			.container
				.row
					.col-md-2.col-sm-3
						a.logo-link(href='/index.html', title='На Главную')
							img.logo.img-responsive(src='/img/ff78-pink-logo.png', alt='логотип')
					.col-md-7.col-sm-9
						span.caption-top
							| Оформление свадеб
							| и торжественных мероприятий
					.col-md-3.col-sm-9.contacts
						ul.list-unstyled.contacts-phone
							li
								a.phone.phone-header(href='tel:'+phoneLink01) #{phoneNumber01}
							li
								a.phone.phone-header(href='tel:'+phoneLink02) #{phoneNumber02}
						.button-social
							a.callback(href='#')
								i.fa.fa-mobile
								span заказать звонок
							ul.list-unstyled.contacts-social-icon
								li
									a.icon-vk.social-icon(href='http://instagram.com/flowers_fantasy78/', target='_blank', title='instagram')
								li
									a.icon-instagram.social-icon(href='http://vk.com/flowers_78', target='_blank', title='vkontakte')
		a.btn-custom.btn.btn-navbar.visible-xs(data-toggle='collapse', data-target='.navbar-collapse')
			span.glyphicon.glyphicon-menu-hamburger  МЕНЮ
		nav.middle-menu.navbar.navbar-default.navbar-static-top.navbar-collapse.collapse
			.container.container-wrapper.menu
				ul.nav.nav-justified.menu-justified
					li
						a(href='/index.html') Главная
					li#dropdown-services.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| Услуги 
							span.caret.hidden-xs
						ul#submenu-services.dropdown-menu.hidden-xs.dropdown-submenu
							li
								a(href='/byket-nevesty.html') Букет невесты
							li
								a(href='/oformlenie-banketa.html') Оформление банкета
							li
								a(href='/viezdnaya-registraciya.html') Оформление выездной регистрации
							li
								a(href='/candy-bar.html') Накрытие и декор кэнди-бара
							li
								a(href='/poligrafiya.html') Полиграфия
							li
								a(href='/oformlenie-sharami.html') Оформление шарами
					li
						a(href='/price.html') Прайс
					li
						a(href='/portfolio.html') Портфолио
					li
						a(href='#') Отзывы
					li
						a(href='#') Вопрос-ответ
					li
						a(href='#') Контакты
		section.container-wrapper
			.container
				block content
		footer.footer-block.container-wrapper
			.container
				.row
					.col-md-5.col-sm-4
						span.footer-capture Flowers Fantasy
						p
							| Оформление свадеб и
							| торжественных мероприятий
					.col-md-4.col-sm-4
						ul.list-unstyled.footer-phone
							li
								a.phone.phone-footer(href='tel:'+phoneLink01) #{phoneNumber01}
							li
								a.phone.phone-footer(href='tel:'+phoneLink02) #{phoneNumber02}
					.col-md-3.col-sm-4
						ul.contacts-social-icon.list-unstyled.social-icon-footer
							li
								a.icon-vk.social-icon(href='http://instagram.com/flowers_fantasy78/', target='_blank', title='instagram')
							li
								a.icon-instagram.social-icon(href='http://vk.com/flowers_78', target='_blank', title='vkontakte')
		block script
			script(src='https://code.jquery.com/jquery-2.2.0.min.js')
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
