extend _template

block title
	title Flowers Fantasy
block content
	.row.preview
		.recent-img.col-md-4.col-sm-6
			.foto-preview
				a.preview-foto-link(href='byket-nevesty.html')
					img.img-responsive(src='img/byket_nevesty.jpg', alt='букет невесты')
			.preview-content
				h2.h2-menu
					a.h2-link(href='byket-nevesty.html') Букет невесты
		.recent-img.col-md-4.col-sm-6
			.foto-preview
				a.preview-foto-link(href='oformlenie-banketa.html')
					img.img-responsive(src='img/oformlenie_prazdnichnogo_banketa.jpg', alt='оформление банкета')
			.preview-content
				h2.h2-menu
					a.h2-link(href='oformlenie-banketa.html') Оформление банкета
		.recent-img.col-md-4.col-sm-6
			.foto-preview
				a.preview-foto-link(href='viezdnaya-registraciya.html')
					img.img-responsive(src='img/oformlenie_veezdnoy_registracii.jpg', alt='оформление регистрации')
			.preview-content
				h2.h2-menu
					a.h2-link(href='viezdnaya-registraciya.html') Оформление выездной регистрации
		.recent-img.col-md-4.col-sm-6
			.foto-preview
				a.preview-foto-link(href='candy-bar.html')
					img.img-responsive(src='img/nakhynie_i_decor_candy-bara.jpg', alt='Накрытие и декор кэнди-бара')
			.preview-content
				h2.h2-menu
					a.h2-link(href='candy-bar.html') Накрытие и декор кэнди-бара
		.recent-img.col-md-4.col-sm-6
			.foto-preview
				a.preview-foto-link(href='poligrafiya.html')
					img.img-responsive(src='img/poligrafiya.jpg', alt='Полиграфия')
			.preview-content
				h2.h2-menu
					a.h2-link(href='poligrafiya.html') Полиграфия
		.recent-img.col-md-4.col-sm-6
			.foto-preview
				a.preview-foto-link(href='oformlenie-sharami.html')
					img.img-responsive(src='img/oformlenie_detskih_prazdnikov.jpg', alt='оформление детских праздников')
			.preview-content
				h2.h2-menu
					a.h2-link(href='oformlenie-sharami.html') Оформление шарами
	h3.h3-reasons 5 основных принципов нашей работы:
	ul.reasons
		li Индивидуальных подход к каждому мероприятию и работа с любым бюджетом.
		li
			| Заключение договора и 100% гарантия качественного выполнения работы.
			| Сотрудничество только с лучшими и проверенными поставщиками цветов
			| и использование качественных материалов для декора.
		li
			| Бесплатные встречи и консультации, разработка концепции, обрисовка эскиза,
			| расчёт стоимости оформления до подписания договора.
		li
			| Предоставление как отдельных услуг (букет невесты, пригласительные, воздушные шары),
			| так и комплексное оформление мероприятия.
		li
			| При заказе комплексного оформления свадьбы либо при повторном 
			| обращении к нашим специалистам - предоставляем скидку 10%.
