extend _template

block title
	title Полиграфия
block content
	+breadcrumb('Полиграфия')
	.content
		img.img-responsive.photo-center(src='img/poligrafiya/FotorCreated6.jpg')
		p.
			Свадебная полиграфия сегодня – это признак хорошего тона и показатель высокого уровня торжества. Свадебная полиграфия создаётся для удобства и комфорта гостей. В пригласительные можно вложить вкладыши со схемой проезда к месту проведения торжества, ЗАГСа, выездной регистрации. План рассадки гостей, номерки столов, карточки рассадки, схема банкетной площадки (зала) помогут гостям на свадьбе без труда найти своё место за нужным столиком. Ещё одна цель свадебной полиграфии -  грамотное дополнение к свадебному стилю. Вся полиграфия разрабатывается и изготавливается в соответствии со свадебной концепцией и в выбранных цветовых тонах, гармонируя с общим интерьером. К примеру, на одной из свадеб скучную нумерацию столов мы заменили названиями планет, а план рассадки выполнили в виде солнечной системы.
		p.
			Разработка логотипа вашей пары (или даже герба вашей молодой семьи), который будет присутствовать на всей свадебной полиграфии (а также салфетках) послужит «изюминкой» вашей свадьбы. Очень полезным и уместным на свадебном банкете будет меню. Гостям будет приятно посмотреть, чем их будут угощать на банкете, и возможность самим выбрать на горячее мясо, а не рыбу.
		p.
			Свадебную полиграфию, в данном случае программку вечера, можно использовать и для создания интриги. Например, если вы пригласили популярную группу или известного артиста, то его выступление можно отметить в программке не прямым текстов, а завуалировать в качестве некого сюрприза для гостей.
		p.
			Важной частью свадебной полиграфии будет и книга пожеланий. Спустя много лет после дня свадьбы, вам будет очень интересно открыть книгу и прочитать поздравления и пожелания ваших родных и близких, и окунуться в приятные воспоминания торжественного для. Альтернативой книге пожеланий может послужить дерево пожеланий, выполненное в соответствии с выбранным стилем свадьбы, на каждом листочке которого гости будут оставлять свои пожелания.
		p.
			Для вашей свадьбы мы с радостью разработаем и изготовим следующие элементы свадебной полиграфии:
		ul
			li разработка логотипа вашей свадьбы;
			li пригласительные на свадьбу;
			li план рассадки гостей на свадьбе;
			li номерки на столы;
			li банкетные (рассадочные) карточки;
			li меню;
			li программка вечера;
			li книга пожеланий (гостевая книга), дерево пожеланий.
		p
			| Вы можете заказать как всю свадебную полиграфию целиком, так и некоторые её элементы.
		img.img-responsive.photo-down(src='img/poligrafiya/FotorCreated4.jpg')
		img.img-responsive.photo-down(src='img/poligrafiya/FotorCreated5.jpg')