extend template

block title
	title Портфолио
block content
	+breadcrumb('Портфолио')
	.content
		.row.portfolio-preview
			.col-md-4.col-sm-6.portfolio-item
				a(href='portfolio-item.html')
					img.img-responsive.img-portfolio(src='img/portfolio/SweetLove/unnamed2.jpg', alt='')
				h2
					a.h2-link(href='portfolio-item.html') Sweet Love
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='http://placehold.it/300x200', alt='')
				h2
					a.h2-link(href='#') Project Name
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='http://placehold.it/300x200', alt='')
				h2
					a.h2-link(href='#') Project Name
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='http://placehold.it/300x200', alt='')
				h2
					a.h2-link(href='#') Project Name
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='http://placehold.it/300x200', alt='')
				h2
					a.h2-link(href='#') Project Name
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='http://placehold.it/300x200', alt='')
				h2
					a.h2-link(href='#') Project Name
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='http://placehold.it/300x200', alt='')
				h2
					a.h2-link(href='#') Project Name
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='http://placehold.it/300x200', alt='')
				h2
					a.h2-link(href='#') Project Name
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='http://placehold.it/300x200', alt='')
				h2
					a.h2-link(href='#') Project Name
