extend template

block title
	title Портфолио
block content
	+breadcrumb('Портфолио')
	.content
		.row.portfolio-preview
			.col-md-4.col-sm-6.portfolio-item
				a(href='portfolio-item.html')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/anna-leonid/1.jpg')
				h2
					a.h2-link(href='portfolio-item.html') Анна и Леонид
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/byket-kristiny/1.jpg')
				h2
					a.h2-link(href='#') Букет и венок на голову для Кристины
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/klassik-beliy-cvet/02222.jpg')
				h2
					a.h2-link(href='#') В классическом белом цвете
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/morskoy-stil/unnamed_52.jpg')
				h2
					a.h2-link(href='#') В морском стиле
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/negno-rozoviy/55555.jpg')
				h2
					a.h2-link(href='#') В нежно-розовом цвете
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/negno-fioletoviy/1.jpg')
				h2
					a.h2-link(href='#') В нежно-фиолетовом цвете
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/tiffany/1.jpg')
				h2
					a.h2-link(href='#') В стиле тифани
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/persikoviy/unnamed_7.jpg')
				h2
					a.h2-link(href='#') В персиковом цвете
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/victoriya-mark/1.jpg')
				h2
					a.h2-link(href='#') Виктория и Марк
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/victoriya-maksim/1.jpg')
				h2
					a.h2-link(href='#') Виктория и Максим
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/ekaterina-anatoliy/1.jpg')
				h2
					a.h2-link(href='#') Екатерина и Анатолий
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/promoakciya-dior/1.jpg')
				h2
					a.h2-link(href='#') Промоакция от Dior
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/ksusha-andrey/20.jpg')
				h2
					a.h2-link(href='#') Ксюша и Андрей
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/fioletoviy-glamur/unnamed_3.jpg')
				h2
					a.h2-link(href='#') Фиолетовый гламур
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/staraya-melnica/4.jpg')
				h2
					a.h2-link(href='#') Фотосессия в Старой мельнице
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/nataliya-roman/90.jpg')
				h2
					a.h2-link(href='#') Классическая свадьба Натальи и Романа
			.col-md-4.col-sm-6.portfolio-item
				a(href='#')
					img.img-responsive.img-portfolio(src='img/portfolio/mini/katerina-marat/4.jpg')
				h2
					a.h2-link(href='#') Свадьба Катерины и Марата в цвете марсала