extend _template

block title
	title Прайс
block content
	+breadcrumb('Прайс')
	.content
		p.
			Стоимость оформления свадьбы напрямую зависит от ваших пожеланий и от объёма работ, который необходимо будет выполнить. Одним из главных факторов, влияющих на оформление мероприятия, является стоимость материала, используемого в оформлении. Композиции из хризантемы и гипсофилы будут стоить значительно дешевле, чем из орхидей, гортензий и пионов. Также стоимость оформления живыми цветами зависит и от сезонности цветов, от размеров и количества цветочных композиций. Что касается оформления тканями, здесь такая же ситуация. Либо использовать вуаль для драпировки президиума, оформления арки, бантов на стулья, и это будет одна цена. Либо применить атлас, шёлк и другие более дорогие и красивые ткани, и такое оформление обойдётся уже дороже. Именно поэтому стоимость декора рассчитывается для каждого мероприятия индивидуально.
		p.
			Для расчёта примерного бюджета оформления свадьбы вы можете воспользоваться формулой: количество гостей умножаем на 1000 – 1500 руб. и получаем примерную стоимость оформления свадьбы. Но бюджет оформления свадьбы не ограничивается данной формулой, он может быть как выше, так и ниже. Как и везде, в свадебном декоре красивое не значит очень дорогое. Даже если вы не выделяете из свадебного бюджета большую сумму на оформление свадьбы, и хотите заказать неброский скромный декор, наши специалисты выполнят его стильно и со вкусом. Если же вы хотите более эксклюзивное оформление, то бюджет декора будет уже выше, и он будет зависеть от количества и вида используемого материала, от сложности выполнения и объёма декоративных элементов и конструкций, от места проведения банкета или регистрации, от количества гостей. Рассчитать точную стоимость оформления свадьбы мы сможем после личной встречи, посещения площадки для банкета и выездной регистрации, разработки концепции, выбора цветов и других элементов декора. Если вы заказываете комплексное оформление мероприятия, то мы делаем скидку 10%. Также для каждой пары мы предлагаем подарки: бесплатные шары с гелием для фотосессии, декор бокалов, лепестки роз, подушечка для колец и много других приятных бонусов. Мы являемся юридическим лицом и обязательно составляем договор со всеми заказчиками, в котором подробно прописываем все услуги и их точную конечную стоимость.
		p.
			Предлагаем вам ознакомиться с примерами цен на отдельные услуги и основные элементы оформления свадьбы.
		h2.h2-price Оформление банкетной площадки
		ul.list-price.list-unstyled
			li
				i.fa.fa-check.fa-lg
				|  Композиция на президиум от 4500 руб.
			li
				i.fa.fa-check.fa-lg
				|  Композиции на столы гостей от 2000 руб.
			li
				i.fa.fa-check.fa-lg
				|  Декорирование тканью президиума (стола молодожёнов) от 2500 руб.
			li
				i.fa.fa-check.fa-lg
				|  Подсветка президиума (стола молодожёнов, «задника») от 1000 руб.
			li
				i.fa.fa-check.fa-lg
				|  Декорирование тканью «задника» за президиумом от 5000 руб.
			li
				i.fa.fa-check.fa-lg
				|  Аренда резной фигурной арки (либо других резных декоративных конструкций) для «задника» от 7 900 руб.
			li
				i.fa.fa-check.fa-lg
				|  Наперон (тканевая полоска, атлас) на гостевой стол от 500 руб.
			li
				i.fa.fa-check.fa-lg
				|  Оформление стула бантом (атлас, органза, вуаль) от 150 руб.
			li
				i.fa.fa-check.fa-lg
				|  Оформление стула атласной лентой от 50 руб.
			li
				i.fa.fa-check.fa-lg
				|  Оформление стула цветами от 100 руб.
			li
				i.fa.fa-check.fa-lg
				|  Декор салфеток от 40 руб.
			li
				i.fa.fa-check.fa-lg
				|  Декор бокалов 500 руб.
			li
				i.fa.fa-check.fa-lg
				|  План рассадки от 2500 руб.
			li
				i.fa.fa-check.fa-lg
				|  Номер стола гостей от 200 руб.
			li
				i.fa.fa-check.fa-lg
				|  Посадочные карточки от 50 руб.
			li
				i.fa.fa-check.fa-lg
				|  Пригласительные от 110 руб.
			li
				i.fa.fa-check.fa-lg
				|  Программка вечера, меню от 100 руб.
			li
				i.fa.fa-check.fa-lg
				|  Книга пожеланий от 2000 руб.
			li
				i.fa.fa-check.fa-lg
				|  Декор кэнди-бара от 2900 руб.
		h2.h2-price Индивидуальная флористика
		ul.list-price.list-unstyled
			li
				i.fa.fa-check.fa-lg
				|  Букет невесты от 3500 руб.
			li
				i.fa.fa-check.fa-lg
				|  Бутоньерка от 300 руб.
			li
				i.fa.fa-check.fa-lg
				|  Венок на голову от 1500 руб.
			li
				i.fa.fa-check.fa-lg
				|  Браслет из цветов от 500 руб.
		h2.h2-price Оформление выездной регистрации
		ul.list-price.list-unstyled
			li
				i.fa.fa-check.fa-lg
				|  Аренда арки и декоративных конструкций (доставка, монтаж, демонтаж) от 7900 руб.
			li
				i.fa.fa-check.fa-lg
				|  Оформление арки тканью от 2500 руб.
			li
				i.fa.fa-check.fa-lg
				|  Оформление арки цветами:
			ul
				li Точечная композиция от 2000 руб.
				li Композиция вытянутая от 3000 руб. за 0.5 метра.
			li
				i.fa.fa-check.fa-lg
				|  Дорожка тканевая к арке от 3500 руб.
			li
				i.fa.fa-check.fa-lg
				|  Декор тканью столика регистратора + аренда столика от 2900 руб.
			li
				i.fa.fa-check.fa-lg
				|  Композиция из цветов на столик регистратора от 1100 руб.
			li
				i.fa.fa-check.fa-lg
				|  Оформление стула бантом (атлас, органза, вуаль) от 150 руб.
			li
				i.fa.fa-check.fa-lg
				|  Оформление стула атласной лентой от 50 руб.
			li
				i.fa.fa-check.fa-lg
				|  Оформление стула цветами от 100 руб.
			li
				i.fa.fa-check.fa-lg
				|  Лепестки роз 5 л. -  700 руб.
			li
				i.fa.fa-check.fa-lg
				|  Подушечка для колец:
			ul
				li Тканевая подушечка 500 руб.
				li Цветочная подушечка 700 руб.
		h2.h2-price Оформление фотозоны
		ul.list-price.list-unstyled
			li
				i.fa.fa-check.fa-lg
				|  Пресс волл (аренда конструкции, печать баннера, доставка, монтаж, демонтаж) от 5000 руб.
			li
				i.fa.fa-check.fa-lg
				|  Рамки в стиле Polaroid от 3500 руб.
			li
				i.fa.fa-check.fa-lg
				|  Грифельная доска (аренда, доставка, монтаж, демонтаж, нанесение рисунка) от 6900 руб.
			li
				i.fa.fa-check.fa-lg
				|  Стена из цветов:
			ul
				li Стена из бумажных цветов от 9500 руб.
				li Стена из тканевых цветов от 10000 руб.
				li Стена из живых цветов от 40000 руб.
			li
				i.fa.fa-check.fa-lg
				|  Ленты от 4900 руб.
		h2.h2-price Оформление шарами
		ul.list-price.list-unstyled
			li
				i.fa.fa-check.fa-lg
				|  Плетённое сердце из шаров 1350 руб.
			li
				i.fa.fa-check.fa-lg
				|  Гелевая цепочка 300 руб./метр
			li
				i.fa.fa-check.fa-lg
				|  Арка из шаров 350 руб./метр
			li
				i.fa.fa-check.fa-lg
				|  Букеты напольные из шаров от 350 руб.
			li
				i.fa.fa-check.fa-lg
				|  Шары под потолок 50 руб./шар
			li
				i.fa.fa-check.fa-lg
				|  Большие шары (диаметр от 0.5 м) от 700 руб.
		p.text-center Позвоните нам и договоритесь о встрече с флористом и декоратором!
		img.img-responsive.photo-down(src='img/price/1-m.jpg')
		img.img-responsive.photo-down(src='img/price/2-m.jpg')
		img.img-responsive.photo-down(src='img/price/3-m.jpg')
		img.img-responsive.photo-down(src='img/price/4-m.jpg')
