extend ../_template

block title
	title Анна и Леонид
block prepend headLinks
	link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')
block content
	+breadcrumbPortfolio('Анна и Леонид')
	.content
		.row.portfolio-preview
			+portfolioItem('../../img/portfolio/main/anna-leonid/1.jpg', '../../img/portfolio/mini/anna-leonid/1.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/2.jpg', '../../img/portfolio/mini/anna-leonid/2.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/3.jpg', '../../img/portfolio/mini/anna-leonid/3.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/4.jpg', '../../img/portfolio/mini/anna-leonid/4.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/5.jpg', '../../img/portfolio/mini/anna-leonid/5.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/6.jpg', '../../img/portfolio/mini/anna-leonid/6.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/7.jpg', '../../img/portfolio/mini/anna-leonid/7.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/8.jpg', '../../img/portfolio/mini/anna-leonid/8.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/9.jpg', '../../img/portfolio/mini/anna-leonid/9.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/10.jpg', '../../img/portfolio/mini/anna-leonid/10.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/11.jpg', '../../img/portfolio/mini/anna-leonid/11.jpg')
			+portfolioItem('../../img/portfolio/main/anna-leonid/12.jpg', '../../img/portfolio/mini/anna-leonid/12.jpg')
block append script
	script(src='../../js/fancybox.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')