extend ../_template

block title
	title Ксюша и Андрей
block prepend headLinks
	link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')
block content
	+breadcrumbPortfolio('Ксюша и Андрей')
	.content
		.row.portfolio-preview
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/1.jpg', '../../img/portfolio/mini/ksusha-andrey/1.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/2.jpg', '../../img/portfolio/mini/ksusha-andrey/2.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/3.jpg', '../../img/portfolio/mini/ksusha-andrey/3.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/4.jpg', '../../img/portfolio/mini/ksusha-andrey/4.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/5.jpg', '../../img/portfolio/mini/ksusha-andrey/5.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/6.jpg', '../../img/portfolio/mini/ksusha-andrey/6.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/7.jpg', '../../img/portfolio/mini/ksusha-andrey/7.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/8.jpg', '../../img/portfolio/mini/ksusha-andrey/8.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/9.jpg', '../../img/portfolio/mini/ksusha-andrey/9.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/10.jpg', '../../img/portfolio/mini/ksusha-andrey/10.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/11.jpg', '../../img/portfolio/mini/ksusha-andrey/11.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/12.jpg', '../../img/portfolio/mini/ksusha-andrey/12.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/13.jpg', '../../img/portfolio/mini/ksusha-andrey/13.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/14.jpg', '../../img/portfolio/mini/ksusha-andrey/14.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/15.jpg', '../../img/portfolio/mini/ksusha-andrey/15.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/16.jpg', '../../img/portfolio/mini/ksusha-andrey/16.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/17.jpg', '../../img/portfolio/mini/ksusha-andrey/17.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/18.jpg', '../../img/portfolio/mini/ksusha-andrey/18.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/19.jpg', '../../img/portfolio/mini/ksusha-andrey/19.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/20.jpg', '../../img/portfolio/mini/ksusha-andrey/20.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/21.jpg', '../../img/portfolio/mini/ksusha-andrey/21.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/22.jpg', '../../img/portfolio/mini/ksusha-andrey/22.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/23.jpg', '../../img/portfolio/mini/ksusha-andrey/23.jpg')
			+portfolioItem('../../img/portfolio/main/ksusha-andrey/24.jpg', '../../img/portfolio/mini/ksusha-andrey/24.jpg')
block append script
	script(src='/js/fancybox.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')