extend ../_template

block title
	title В нежно-розовом цвете
block prepend headLinks
	link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')
block content
	+breadcrumbPortfolio('В нежно-розовом цвете')
	.content
		.row.portfolio-preview
			+portfolioItem('../../img/portfolio/main/negno-rozoviy/1.jpg', '../../img/portfolio/mini/negno-rozoviy/1.jpg')
			+portfolioItem('../../img/portfolio/main/negno-rozoviy/2.jpg', '../../img/portfolio/mini/negno-rozoviy/2.jpg')
			+portfolioItem('../../img/portfolio/main/negno-rozoviy/3.jpg', '../../img/portfolio/mini/negno-rozoviy/3.jpg')
			+portfolioItem('../../img/portfolio/main/negno-rozoviy/4.jpg', '../../img/portfolio/mini/negno-rozoviy/4.jpg')
			+portfolioItem('../../img/portfolio/main/negno-rozoviy/5.jpg', '../../img/portfolio/mini/negno-rozoviy/5.jpg')
			+portfolioItem('../../img/portfolio/main/negno-rozoviy/6.jpg', '../../img/portfolio/mini/negno-rozoviy/6.jpg')
			+portfolioItem('../../img/portfolio/main/negno-rozoviy/7.jpg', '../../img/portfolio/mini/negno-rozoviy/7.jpg')
			+portfolioItem('../../img/portfolio/main/negno-rozoviy/8.jpg', '../../img/portfolio/mini/negno-rozoviy/8.jpg')
block append script
	script(src='../../js/fancybox.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')