extend ../_template

block title
	title В стиле тифани
block prepend headLinks
	link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')
block content
	+breadcrumbPortfolio('В стиле тифани')
	.content
		.row.portfolio-preview
			+portfolioItem('../../img/portfolio/main/tiffany/1.jpg', '../../img/portfolio/mini/tiffany/1.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/2.jpg', '../../img/portfolio/mini/tiffany/2.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/3.jpg', '../../img/portfolio/mini/tiffany/3.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/4.jpg', '../../img/portfolio/mini/tiffany/4.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/5.jpg', '../../img/portfolio/mini/tiffany/5.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/6.jpg', '../../img/portfolio/mini/tiffany/6.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/7.jpg', '../../img/portfolio/mini/tiffany/7.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/8.jpg', '../../img/portfolio/mini/tiffany/8.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/9.jpg', '../../img/portfolio/mini/tiffany/9.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/10.jpg', '../../img/portfolio/mini/tiffany/10.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/11.jpg', '../../img/portfolio/mini/tiffany/11.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/12.jpg', '../../img/portfolio/mini/tiffany/12.jpg')
			+portfolioItem('../../img/portfolio/main/tiffany/13.jpg', '../../img/portfolio/mini/tiffany/13.jpg')
block append script
	script(src='/js/fancybox.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')