extend ../_template

block title
	title Виктория и Марк
block prepend headLinks
	link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')
block content
	+breadcrumbPortfolio('Виктория и Марк')
	.content
		.row.portfolio-preview
			+portfolioItem('../../img/portfolio/main/victoriya-mark/2.jpg', '../../img/portfolio/mini/victoriya-mark/2.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-mark/3.jpg', '../../img/portfolio/mini/victoriya-mark/3.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-mark/4.jpg', '../../img/portfolio/mini/victoriya-mark/4.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-mark/5.jpg', '../../img/portfolio/mini/victoriya-mark/5.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-mark/6.jpg', '../../img/portfolio/mini/victoriya-mark/6.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-mark/7.jpg', '../../img/portfolio/mini/victoriya-mark/7.jpg')
block append script
	script(src='/js/fancybox.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')