extend ../_template

block title
	title Виктория и Максим
block prepend headLinks
	link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')
block content
	+breadcrumbPortfolio('Виктория и Максим')
	.content
		.row.portfolio-preview
			+portfolioItem('../../img/portfolio/main/victoriya-maksim/1.jpg', '../../img/portfolio/mini/victoriya-maksim/1.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-maksim/2.jpg', '../../img/portfolio/mini/victoriya-maksim/2.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-maksim/3.jpg', '../../img/portfolio/mini/victoriya-maksim/3.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-maksim/4.jpg', '../../img/portfolio/mini/victoriya-maksim/4.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-maksim/5.jpg', '../../img/portfolio/mini/victoriya-maksim/5.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-maksim/6.jpg', '../../img/portfolio/mini/victoriya-maksim/6.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-maksim/7.jpg', '../../img/portfolio/mini/victoriya-maksim/7.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-maksim/8.jpg', '../../img/portfolio/mini/victoriya-maksim/8.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-maksim/9.jpg', '../../img/portfolio/mini/victoriya-maksim/9.jpg')
			+portfolioItem('../../img/portfolio/main/victoriya-maksim/10.jpg', '../../img/portfolio/mini/victoriya-maksim/10.jpg')
block append script
	script(src='../../js/fancybox.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')