extend template

block title
	title Sweet Love
block content
	+breadcrumbPortfolio('Sweet love')
	.content
		.row.portfolio-preview
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='./img/portfolio/SweetLove/unnamed2.jpg', alt='')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio.resizeme(src='./img/portfolio/SweetLove/unnamed_71.jpg', alt='')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='./img/portfolio/SweetLove/unnamed_71.jpg', alt='')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
			.col-md-4.col-sm-6.portfolio-item
				img.img-responsive.img-portfolio(src='http://placehold.it/300x200')
